/* author = taksenov@gmail.com */
/* MainSettings */
@import "mixins";
@import "fonts";

@container-width : 940px;
@footer-height   : 290px;
@body-font       : "MyriadPro-Regular";

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    min-width: @container-width + 20px;

    .empty {
        position: relative;
        height: @footer-height;
    }
}
ul {
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        left: 0;
        list-style: none outside none;
    }
}
p {
    padding: 0;
    margin: 0;
}
footer {
    position: relative;
    margin-top: -@footer-height;
    height: @footer-height;
}
*{
    font-family: "MyriadPro-Regular";
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background: url("../../static/img/common/bg.png") #ffffff;
}
/* ------------------------------------------- */

/* Maincontent */
.maincontent {
    padding-top: 50px;
}
/* ------------------------------------------- */

/* -------= Кнопки =------- */

/* -------= Кнопки =------- */











