/* author = taksenov@gmail.com */
/* MainSettings */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* Fonts */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Bold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCondIt_0";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.svg#MyriadPro-BoldCondIt_0") format("svg");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Cond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-It.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-It.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-It.svg#MyriadPro-It") format("svg");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}
.myriad-b {
  font-family: "MyriadPro-Bold";
}
.myriad-bc {
  font-family: "MyriadPro-BoldCond";
}
.myriad-bcit_0 {
  font-family: "MyriadPro-BoldCondIt_0";
}
.myriad-c {
  font-family: "MyriadPro-Cond";
}
.myriad-it {
  font-family: "MyriadPro-It";
}
.myriad-r {
  font-family: "MyriadPro-Regular";
}
.myriad-sb {
  font-family: "MyriadPro-Semibold";
}
/* ------------------------------------------- */
.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 960px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin-top: 10px;
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin-top: 20px;
}
br {
  margin-bottom: 30px;
}
* {
  font-family: "MyriadPro-Regular";
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background: url("../../static/img/common/bg.png") #ffffff;
}
/* ------------------------------------------- */
/* Maincontent */
.maincontent {
  padding-top: 50px;
}
/* ------------------------------------------- */
/* Divider */
.divider {
  margin: 15px auto 0;
  background-color: #d2d0d0;
  width: 940px;
  height: 1px;
  margin-bottom: 25px;
  margin-top: 25px;
}
/* ------------------------------------------- */
/* -------= Кнопки =------- */
/* Примесь для кнопки */
/* Примесь для кнопки */
/* Модификации кнопки */
.button_original {
  width: 80px;
  height: 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 18px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_original:before {
  content: "";
  width: 22px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: none center center no-repeat;
}
.button_original:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_original:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_original:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_original:before {
  display: none;
}
.button_long {
  width: 220px;
  height: 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 18px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_long:before {
  content: "";
  width: 22px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: none center center no-repeat;
}
.button_long:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_long:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_long:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_long:before {
  display: none;
}
.button_long_high {
  width: 220px;
  height: 64px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 64px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_long_high:before {
  content: "";
  width: 22px;
  height: 64px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: none center center no-repeat;
}
.button_long_high:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_long_high:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_long_high:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_long_high:before {
  display: none;
}
.button_search {
  width: 100px;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 30px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_search:before {
  content: "";
  width: 22px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: url('../../static/img/icons/icon-search.png') center center no-repeat;
}
.button_search:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_search:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_search:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_bitcoin {
  width: 110px;
  height: 34px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 34px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_bitcoin:before {
  content: "";
  width: 22px;
  height: 34px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: url('../../static/img/icons/icon-bitcoin.png') center center no-repeat;
}
.button_bitcoin:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_bitcoin:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_bitcoin:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_delete {
  width: 120px;
  height: 38px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 38px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_delete:before {
  content: "";
  width: 22px;
  height: 38px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: url('../../static/img/icons/icon-trash.png') center center no-repeat;
}
.button_delete:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_delete:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_delete:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_rouble {
  width: 130px;
  height: 42px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 42px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_rouble:before {
  content: "";
  width: 22px;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: url('../../static/img/icons/icon-rouble.png') center center no-repeat;
}
.button_rouble:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_rouble:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_rouble:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_dollar {
  width: 140px;
  height: 46px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 46px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_dollar:before {
  content: "";
  width: 22px;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: url('../../static/img/icons/icon-dollar.png') center center no-repeat;
}
.button_dollar:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_dollar:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(0, 0, 0, 0.07), 0 1px #ffffff;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
}
.button_dollar:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
/* Модификации кнопки */
/* -------= Кнопки =------- */
