/* author = taksenov@gmail.com */
/* MainSettings */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* Fonts */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Bold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCondIt_0";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.svg#MyriadPro-BoldCondIt_0") format("svg");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Cond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-It.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-It.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-It.svg#MyriadPro-It") format("svg");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}
/* Generated by Glyphter (http://www.glyphter.com) on  Mon Nov 10 2014*/
@font-face {
  font-family: 'star-font';
  src: url('../../static/fonts/star-font.eot');
  src: url('../../static/fonts/star-font.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/star-font.woff') format('woff'), url('../../static/fonts/star-font.ttf') format('truetype'), url('../../static/fonts/star-font.svg#star-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Generated by Glyphter (http://www.glyphter.com) on  Sat Nov 08 2014*/
@font-face {
  font-family: 'button-font';
  src: url('../../static/fonts/Glyphter.eot');
  src: url('../../static/fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Glyphter.woff') format('woff'), url('../../static/fonts/Glyphter.ttf') format('truetype'), url('../../static/fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
.button-font {
  font-family: "button-font";
}
.star-font {
  font-family: "star-font";
}
.myriad-b {
  font-family: "MyriadPro-Bold";
}
.myriad-bc {
  font-family: "MyriadPro-BoldCond";
}
.myriad-bcit_0 {
  font-family: "MyriadPro-BoldCondIt_0";
}
.myriad-c {
  font-family: "MyriadPro-Cond";
}
.myriad-it {
  font-family: "MyriadPro-It";
}
.myriad-r {
  font-family: "MyriadPro-Regular";
}
.myriad-sb {
  font-family: "MyriadPro-Semibold";
}
/* ------------------------------------------- */
/* Примесь для кнопки */
/* Примесь для кнопки */
/* -------= примесь для рейтинга =------- */
/* -------= примесь для рейтинга =------- */
.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 960px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin-top: 10px;
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin-top: 20px;
}
br {
  margin-bottom: 30px;
}
* {
  font-family: "MyriadPro-Regular";
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  background: url("../../static/img/common/bg.png") #ffffff;
}
/* ------------------------------------------- */
/* Maincontent */
.maincontent {
  padding-top: 50px;
}
/* ------------------------------------------- */
/* Divider */
.divider {
  margin: 15px auto 0;
  background-color: #d2d0d0;
  width: 940px;
  height: 1px;
  margin-bottom: 25px;
  margin-top: 25px;
}
/* ------------------------------------------- */
/* -------= Кнопки =------- */
/* Модификации кнопки */
.button_original {
  width: 80px;
  height: 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 18px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_original:before {
  font-family: "button-font";
  font-size: 16px;
  content: none;
  width: 22px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_original:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_original:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_original:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_original:before {
  display: none;
}
.button_long {
  width: 220px;
  height: 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 18px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_long:before {
  font-family: "button-font";
  font-size: 16px;
  content: none;
  width: 22px;
  height: 18px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_long:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_long:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_long:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_long:before {
  display: none;
}
.button_long_high {
  width: 220px;
  height: 64px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 64px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_long_high:before {
  font-family: "button-font";
  font-size: 16px;
  content: none;
  width: 22px;
  height: 64px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_long_high:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_long_high:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_long_high:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_long_high:before {
  display: none;
}
.button_search {
  width: 100px;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 30px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_search:before {
  font-family: "button-font";
  font-size: 16px;
  content: url('../../static/img/icons/icon-search.png');
  width: 22px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_search:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_search:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_search:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_bitcoin {
  width: 110px;
  height: 34px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 34px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_bitcoin:before {
  font-family: "button-font";
  font-size: 16px;
  content: url('../../static/img/icons/icon-bitcoin.png');
  width: 22px;
  height: 34px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_bitcoin:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_bitcoin:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_bitcoin:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_delete {
  width: 120px;
  height: 38px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 38px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_delete:before {
  font-family: "button-font";
  font-size: 16px;
  content: url('../../static/img/icons/icon-trash.png');
  width: 22px;
  height: 38px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_delete:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_delete:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_delete:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_rouble {
  width: 130px;
  height: 42px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 42px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_rouble:before {
  font-family: "button-font";
  font-size: 16px;
  content: url('../../static/img/icons/icon-rouble.png');
  width: 22px;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_rouble:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_rouble:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_rouble:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_dollar {
  width: 140px;
  height: 46px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 46px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_dollar:before {
  font-family: "button-font";
  font-size: 16px;
  content: url('../../static/img/icons/icon-dollar.png');
  width: 22px;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_dollar:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_dollar:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_dollar:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_search__ {
  width: 140px;
  height: 46px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 46px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_search__:before {
  font-family: "button-font";
  font-size: 16px;
  content: 'B';
  width: 22px;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_search__:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_search__:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_search__:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_bitcoin__ {
  width: 130px;
  height: 42px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 42px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_bitcoin__:before {
  font-family: "button-font";
  font-size: 16px;
  content: 'C';
  width: 22px;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_bitcoin__:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_bitcoin__:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_bitcoin__:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_delete__ {
  width: 120px;
  height: 38px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 38px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_delete__:before {
  font-family: "button-font";
  font-size: 16px;
  content: 'A';
  width: 22px;
  height: 38px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_delete__:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_delete__:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_delete__:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_rouble__ {
  width: 110px;
  height: 34px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 34px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_rouble__:before {
  font-family: "button-font";
  font-size: 16px;
  content: 'E';
  width: 22px;
  height: 34px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_rouble__:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_rouble__:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_rouble__:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
.button_dollar__ {
  width: 100px;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 30px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%);
  background: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  padding: 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-image: -webkit-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #e2e2e2 30%, #f2f2f2 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #e2e2e2 30%, #f2f2f2 70%), linear-gradient(#e5e5e5, #a8a8a8);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.button_dollar__:before {
  font-family: "button-font";
  font-size: 16px;
  content: 'D';
  width: 22px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.button_dollar__:hover {
  background: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%);
  background: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -webkit-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -moz-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -moz-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -o-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -o-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: -ms-linear-gradient(90deg, #fdffcc 30%, #feffeb 70%), -ms-linear-gradient(#e5e5e5, #a8a8a8);
  background-image: linear-gradient(0deg, #fdffcc 30%, #feffeb 70%), linear-gradient(#e5e5e5, #a8a8a8);
}
.button_dollar__:active {
  position: relative;
  top: 1px;
  text-shadow: 0 -1px #ffffff;
  background: -webkit-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -moz-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -o-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: -ms-linear-gradient(270deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
  background: linear-gradient(180deg, #bababa 0%, #ebebeb 32%, #e2e2e2 100%);
}
.button_dollar__:focus {
  box-shadow: 0px 0px 4px 0px rgba(0, 35, 214, 0.94);
}
/* Модификации кнопки */
/* -------= Кнопки =------- */
/* -------= звезды рейтинга =------- */
.all-stars-orange a,
.all-stars-orange ul,
.all-stars-orange li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.all-stars-orange ul {
  list-style: none;
}
.all-stars-orange .voting {
  position: relative;
  margin: 0 0 0.2em;
  width: 88px;
  height: 17px;
  overflow: hidden;
  background: url(../../static/img/common/orange_stars.png) 0 -17px no-repeat;
}
.all-stars-orange .voting li {
  float: left;
}
.all-stars-orange .voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 17px;
  text-indent: -9999px;
}
.all-stars-orange .voting a.cur,
.all-stars-orange .voting a:hover,
.all-stars-orange .voting:hover a.cur:hover,
.all-stars-orange .voting.phover a.cur:hover,
.all-stars-orange .voting:hover a:hover,
.all-stars-orange .voting.phover a:hover {
  background: url(../../static/img/common/orange_stars.png) no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.all-stars-orange .voting:hover a.cur,
.all-stars-orange .voting.phover a.cur {
  background: none;
}
.all-stars-orange .voting .one a {
  width: 17px;
  z-index: 5;
}
.all-stars-orange .voting .two a {
  width: 35px;
  z-index: 4;
}
.all-stars-orange .voting .three a {
  width: 53px;
  z-index: 3;
}
.all-stars-orange .voting .four a {
  width: 71px;
  z-index: 2;
}
.all-stars-orange .voting .five a {
  width: 88px;
  z-index: 1;
}
.all-stars-orange .all-stars__result {
  margin-top: 0;
}
.all-stars-green a,
.all-stars-green ul,
.all-stars-green li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.all-stars-green ul {
  list-style: none;
}
.all-stars-green .voting {
  position: relative;
  margin: 0 0 0.2em;
  width: 88px;
  height: 17px;
  overflow: hidden;
  background: url(../../static/img/common/green_stars.png) 0 -17px no-repeat;
}
.all-stars-green .voting li {
  float: left;
}
.all-stars-green .voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 17px;
  text-indent: -9999px;
}
.all-stars-green .voting a.cur,
.all-stars-green .voting a:hover,
.all-stars-green .voting:hover a.cur:hover,
.all-stars-green .voting.phover a.cur:hover,
.all-stars-green .voting:hover a:hover,
.all-stars-green .voting.phover a:hover {
  background: url(../../static/img/common/green_stars.png) no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.all-stars-green .voting:hover a.cur,
.all-stars-green .voting.phover a.cur {
  background: none;
}
.all-stars-green .voting .one a {
  width: 17px;
  z-index: 5;
}
.all-stars-green .voting .two a {
  width: 35px;
  z-index: 4;
}
.all-stars-green .voting .three a {
  width: 53px;
  z-index: 3;
}
.all-stars-green .voting .four a {
  width: 71px;
  z-index: 2;
}
.all-stars-green .voting .five a {
  width: 88px;
  z-index: 1;
}
.all-stars-green .all-stars__result {
  margin-top: 0;
}
.all-stars-blue a,
.all-stars-blue ul,
.all-stars-blue li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.all-stars-blue ul {
  list-style: none;
}
.all-stars-blue .voting {
  position: relative;
  margin: 0 0 0.2em;
  width: 88px;
  height: 17px;
  overflow: hidden;
  background: url(../../static/img/common/blue_stars.png) 0 -17px no-repeat;
}
.all-stars-blue .voting li {
  float: left;
}
.all-stars-blue .voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 17px;
  text-indent: -9999px;
}
.all-stars-blue .voting a.cur,
.all-stars-blue .voting a:hover,
.all-stars-blue .voting:hover a.cur:hover,
.all-stars-blue .voting.phover a.cur:hover,
.all-stars-blue .voting:hover a:hover,
.all-stars-blue .voting.phover a:hover {
  background: url(../../static/img/common/blue_stars.png) no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.all-stars-blue .voting:hover a.cur,
.all-stars-blue .voting.phover a.cur {
  background: none;
}
.all-stars-blue .voting .one a {
  width: 17px;
  z-index: 5;
}
.all-stars-blue .voting .two a {
  width: 35px;
  z-index: 4;
}
.all-stars-blue .voting .three a {
  width: 53px;
  z-index: 3;
}
.all-stars-blue .voting .four a {
  width: 71px;
  z-index: 2;
}
.all-stars-blue .voting .five a {
  width: 88px;
  z-index: 1;
}
.all-stars-blue .all-stars__result {
  margin-top: 0;
}
.all-stars-violet a,
.all-stars-violet ul,
.all-stars-violet li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.all-stars-violet ul {
  list-style: none;
}
.all-stars-violet .voting {
  position: relative;
  margin: 0 0 0.2em;
  width: 88px;
  height: 17px;
  overflow: hidden;
  background: url(../../static/img/common/violet_stars.png) 0 -17px no-repeat;
}
.all-stars-violet .voting li {
  float: left;
}
.all-stars-violet .voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 17px;
  text-indent: -9999px;
}
.all-stars-violet .voting a.cur,
.all-stars-violet .voting a:hover,
.all-stars-violet .voting:hover a.cur:hover,
.all-stars-violet .voting.phover a.cur:hover,
.all-stars-violet .voting:hover a:hover,
.all-stars-violet .voting.phover a:hover {
  background: url(../../static/img/common/violet_stars.png) no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.all-stars-violet .voting:hover a.cur,
.all-stars-violet .voting.phover a.cur {
  background: none;
}
.all-stars-violet .voting .one a {
  width: 17px;
  z-index: 5;
}
.all-stars-violet .voting .two a {
  width: 35px;
  z-index: 4;
}
.all-stars-violet .voting .three a {
  width: 53px;
  z-index: 3;
}
.all-stars-violet .voting .four a {
  width: 71px;
  z-index: 2;
}
.all-stars-violet .voting .five a {
  width: 88px;
  z-index: 1;
}
.all-stars-violet .all-stars__result {
  margin-top: 0;
}
.all-stars-terracotta a,
.all-stars-terracotta ul,
.all-stars-terracotta li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.all-stars-terracotta ul {
  list-style: none;
}
.all-stars-terracotta .voting {
  position: relative;
  margin: 0 0 0.2em;
  width: 88px;
  height: 17px;
  overflow: hidden;
  background: url(../../static/img/common/terracotta_stars.png) 0 -17px no-repeat;
}
.all-stars-terracotta .voting li {
  float: left;
}
.all-stars-terracotta .voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 17px;
  text-indent: -9999px;
}
.all-stars-terracotta .voting a.cur,
.all-stars-terracotta .voting a:hover,
.all-stars-terracotta .voting:hover a.cur:hover,
.all-stars-terracotta .voting.phover a.cur:hover,
.all-stars-terracotta .voting:hover a:hover,
.all-stars-terracotta .voting.phover a:hover {
  background: url(../../static/img/common/terracotta_stars.png) no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.all-stars-terracotta .voting:hover a.cur,
.all-stars-terracotta .voting.phover a.cur {
  background: none;
}
.all-stars-terracotta .voting .one a {
  width: 17px;
  z-index: 5;
}
.all-stars-terracotta .voting .two a {
  width: 35px;
  z-index: 4;
}
.all-stars-terracotta .voting .three a {
  width: 53px;
  z-index: 3;
}
.all-stars-terracotta .voting .four a {
  width: 71px;
  z-index: 2;
}
.all-stars-terracotta .voting .five a {
  width: 88px;
  z-index: 1;
}
.all-stars-terracotta .all-stars__result {
  margin-top: 0;
}
.all-stars-big-violet a,
.all-stars-big-violet ul,
.all-stars-big-violet li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.all-stars-big-violet ul {
  list-style: none;
}
.all-stars-big-violet .voting {
  position: relative;
  margin: 0 0 0.2em;
  width: 176px;
  height: 34px;
  overflow: hidden;
  background: url(../../static/img/common/big_violet_stars.png) 0 -34px no-repeat;
}
.all-stars-big-violet .voting li {
  float: left;
}
.all-stars-big-violet .voting a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 34px;
  text-indent: -9999px;
}
.all-stars-big-violet .voting a.cur,
.all-stars-big-violet .voting a:hover,
.all-stars-big-violet .voting:hover a.cur:hover,
.all-stars-big-violet .voting.phover a.cur:hover,
.all-stars-big-violet .voting:hover a:hover,
.all-stars-big-violet .voting.phover a:hover {
  background: url(../../static/img/common/big_violet_stars.png) no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.all-stars-big-violet .voting:hover a.cur,
.all-stars-big-violet .voting.phover a.cur {
  background: none;
}
.all-stars-big-violet .voting .one a {
  width: 34px;
  z-index: 5;
}
.all-stars-big-violet .voting .two a {
  width: 70px;
  z-index: 4;
}
.all-stars-big-violet .voting .three a {
  width: 106px;
  z-index: 3;
}
.all-stars-big-violet .voting .four a {
  width: 142px;
  z-index: 2;
}
.all-stars-big-violet .voting .five a {
  width: 176px;
  z-index: 1;
}
.all-stars-big-violet .all-stars__result {
  margin-top: 0;
}
/* -------= звезды рейтинга =------- */
